.prevent-pull-down-refresh {
	overflow-y:scroll;
	overscroll-behavior:contain;
}
.no-scroll-bar {
	-ms-overflow-style: none; /* IE, Edge */
	scrollbar-width: none; /* Firefox */
}
.no-scroll-bar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}